.checkboxText {
  color: #303030;
}
.formikCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.submit {
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .hintModalForm {
    max-width: 320px;
  }
}
